## 1. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [ ]:
import pandas as pd

kommuner = ["Malmö", "Stockholm", "Uppsala", "Göteborg"]
population = [347949, 975551, 233839, 583056]
kommuner_series = pd.Series(kommuner)
population_seies = pd.Series(population)

df = pd.DataFrame({"Kommun": kommuner_series, "Population": population_seies})
df

In [ ]:
# a)
print(df["Kommun"])

In [ ]:
# b)
df[df["Kommun"] == "Göteborg"]

In [ ]:
# c)

df_sorted = df.sort_values(by = "Population", ascending=False)
df_sorted

In [ ]:
# d)
df_sorted.iloc[:3]

In [ ]:
# e)
population_precentage = [(df["Population"][i]/10379295)*100 for i in range(4)]
new_df = df.assign(Population_percentage= population_precentage)
new_df.sort_values("Population", ascending=False)

# 2. Cities in Sweden

In [ ]:
df_raw = pd.read_excel("../Data/komtopp50_2020.xlsx", sheet_name="Totalt")
df_clean = df_raw[6:].reset_index()
df_clean = df_clean.drop("index", axis=1)
df_clean.columns = ["Rang 2020", "Rang 2019", "Kommun", "Folkmängd 2020", "Folkmängd 2019", "Förändring"]
df_clean.head()

In [ ]:
df_clean.sort_values("Kommun")

In [ ]:
df_clean["Rang 2019"] = df_clean["Rang 2019"].astype(int)
df_clean["Folkmängd 2019"] = df_clean["Folkmängd 2019"].astype(int)
df_clean

In [ ]:
# b) klar
# c)
df_clean.sort_values("Folkmängd 2020", ascending=False)

In [ ]:
# d)
df_clean.sort_values("Folkmängd 2020")[:5]

In [ ]:
# e)
df_clean[["Folkmängd 2019", "Folkmängd 2020"]].sum()

In [ ]:
# f)
import matplotlib.pyplot as plt
import seaborn as sns

fig, axes = plt.subplots(1, 2, figsize = (16, 4), dpi = 120)
titles = ["Five largest cities", "Five smallest cities"]

largest_cities = df_clean[["Kommun", "Folkmängd 2020"]].sort_values("Folkmängd 2020", ascending=False)[:5]
smallest_cities = df_clean[["Kommun", "Folkmängd 2020"]].sort_values("Folkmängd 2020")[:5]


data_frames = [largest_cities, smallest_cities]

for i, (data, title) in enumerate(zip(data_frames, titles)):
    sns.barplot(data = data, x = "Kommun", y="Folkmängd 2020", ax=axes[i])
    axes[i].set(title = title)

## 3 Cities in Sweden - gender

In [145]:
from email import header


df_female = pd.read_excel("../Data/komtopp50_2020.xlsx", sheet_name="Kvinnor")
df_male = pd.read_excel("../Data/komtopp50_2020.xlsx", sheet_name="Män")

df_female = df_female[6:].reset_index()
df_female = df_female.drop("index", axis=1)
df_female.columns = ["Rang 2020", "Rang 2019", "Kommun", "Folkmängd 2020", "Folkmängd 2019", "Förändring"]
df_female["Kön"] = ["Kvinna" for _ in range(290)]

df_male = df_male[6:].reset_index()
df_male = df_male.drop("index", axis=1)
df_male.columns = ["Rang 2020", "Rang 2019", "Kommun", "Folkmängd 2020", "Folkmängd 2019", "Förändring"]
df_male["Kön"]= ["Man" for _ in range(290)]
df_male

df_all = pd.concat([df_female, df_male])
df_all.set_index("Kommun")
df_all = df_all.drop(["Rang 2020", "Rang 2019"], axis =1)

             Folkmängd 2020  Folkmängd 2019 Förändring     Kön
Kommun
Ale                   15612         15348.0   1.720094  Kvinna
Alingsås              20900         20774.0   0.606527  Kvinna
Alvesta                9857          9795.0   0.632976  Kvinna
Aneby                  3318          3350.0  -0.955224  Kvinna
Arboga                 6945          6973.0  -0.401549  Kvinna
...                     ...             ...        ...     ...
Österåker             23647         23132.0   2.226353     Man
Östhammar             11405         11447.0  -0.366908     Man
Östra Göinge           7747          7745.0   0.025823     Man
Överkalix              1730          1737.0  -0.402994     Man
Övertorneå             2190          2234.0  -1.969561     Man

[580 rows x 4 columns]

In [143]:
df_tot = pd.read_excel("../Data/komtopp50_2020.xlsx", sheet_name="Totalt")

df_tot = df_tot[6:].reset_index()
df_tot = df_tot.drop("index", axis=1)
df_tot.columns = ["Rang 2020", "Rang 2019", "Kommun", "Total pop 2020", "Total pop 2019", "Förändring"]
df_tot = df_tot.drop(["Rang 2020", "Rang 2019"], axis=1)

df_tot_2 = pd.concat([df_tot, df_tot])
df_tot_2.sort_values("Total pop 2020", ascending= False)
df_all = df_all.sort_values("Folkmängd 2020", ascending= False)

          Folkmängd 2020  Folkmängd 2019 Förändring     Kön
Kommun
Stockholm         492569        491853.0   0.145572  Kvinna
Stockholm         482982        482220.0   0.158019     Man
Göteborg          292505        290308.0   0.756782     Man
Göteborg          290551        288973.0   0.546072  Kvinna
Malmö             175411        173543.0    1.07639  Kvinna
...                  ...             ...        ...     ...
Sorsele             1285          1319.0   -2.57771     Man
Bjurholm            1233          1249.0  -1.281025     Man
Dorotea             1171          1195.0  -2.008368  Kvinna
Sorsele             1157          1170.0  -1.111111  Kvinna
Bjurholm            1154          1159.0  -0.431406  Kvinna

[580 rows x 4 columns]