## 1. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [5]:
import pandas as pd

kommuner = ["Malmö", "Stockholm", "Uppsala", "Göteborg"]
population = [347949, 975551, 233839, 583056]
kommuner_series = pd.Series(kommuner)
population_seies = pd.Series(population)

df = pd.DataFrame({"Kommun": kommuner_series, "Population": population_seies})
df

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [11]:
# a)
print(df["Kommun"])

0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
Name: Kommun, dtype: object

In [12]:
# b)
df[df["Kommun"] == "Göteborg"]

     Kommun  Population
3  Göteborg      583056

In [20]:
# c)

df_sorted = df.sort_values(by = "Population", ascending=False)
df_sorted

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

In [21]:
# d)
df_sorted.iloc[:3]

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949

In [37]:
# e)
population_precentage = [(df["Population"][i]/10379295)*100 for i in range(4)]
new_df = df.assign(Population_percentage= population_precentage)
new_df.sort_values("Population", ascending=False)

      Kommun  Population  Population_percentage
1  Stockholm      975551               9.399010
3   Göteborg      583056               5.617491
0      Malmö      347949               3.352338
2    Uppsala      233839               2.252937

# 2. Cities in Sweden

In [70]:
df_raw = pd.read_excel("../Data/komtopp50_2020.xlsx", sheet_name="Totalt")
df_clean = df_raw[6:].reset_index()
df_clean = df_clean.drop("index", axis=1)
df_clean.columns = ["Rang 2020", "Rang 2019", "Kommun", "Folkmängd 2020", "Folkmängd 2019", "Förändring"]
df_clean.head()

  Rang 2020  Rang 2019    Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0        83       84.0       Ale          31868         31402.0   1.483982
1        64       64.0  Alingsås          41602         41420.0   0.439401
2       123      123.0   Alvesta          20224         20134.0   0.447005
3       255      255.0     Aneby           6821          6848.0  -0.394276
4       169      167.0    Arboga          14039         14087.0   -0.34074

In [71]:
df_clean.sort_values("Kommun")

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
0,83,84.0,Ale,31868,31402.0,1.483982
1,64,64.0,Alingsås,41602,41420.0,0.439401
2,123,123.0,Alvesta,20224,20134.0,0.447005
3,255,255.0,Aneby,6821,6848.0,-0.394276
4,169,167.0,Arboga,14039,14087.0,-0.34074
...,...,...,...,...,...,...
285,54,55.0,Österåker,46644,45574.0,2.34783
286,116,115.0,Östhammar,22251,22250.0,0.004494
287,160,159.0,Östra Göinge,15017,15007.0,0.066636
288,284,284.0,Överkalix,3289,3315.0,-0.784314
289,279,279.0,Övertorneå,4217,4299.0,-1.90742

In [76]:
df_clean["Rang 2019"] = df_clean["Rang 2019"].astype(int)
df_clean["Folkmängd 2019"] = df_clean["Folkmängd 2019"].astype(int)
df_clean

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
0,83,84,Ale,31868,31402,1.483982
1,64,64,Alingsås,41602,41420,0.439401
2,123,123,Alvesta,20224,20134,0.447005
3,255,255,Aneby,6821,6848,-0.394276
4,169,167,Arboga,14039,14087,-0.34074
...,...,...,...,...,...,...
285,54,55,Österåker,46644,45574,2.34783
286,116,115,Östhammar,22251,22250,0.004494
287,160,159,Östra Göinge,15017,15007,0.066636
288,284,284,Överkalix,3289,3315,-0.784314
289,279,279,Övertorneå,4217,4299,-1.90742